@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}
/* Scrollbar */
body::-webkit-scrollbar {
  width: 15px;
  background: #f8f8f8;
}
/* Scrollbar Dark*/
body.dark::-webkit-scrollbar {
  width: 15px;
  background: #1a1a1a;
}

/* Track */
body.light::wekbit-scrollbar-track {
  background: #f8f8f8;
}
/* Track Dark*/
body.dark::wekbit-scrollbar-track {
  background: #1a1a1a;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle Dark*/
body.dark::-webkit-scrollbar-thumb {
  background: #555555;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Handle on hover Dark*/
body.dark::-webkit-scrollbar-thumb:hover {
  background: #808080;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Variable.ttf');
}

@font-face {
  font-family: 'Mukta';
  src: url('/fonts/Mukta/Mukta-Regular.ttf');
}

@font-face {
  font-family: 'Mukta';
  src: url('/fonts/Mukta/Mukta-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Mukta';
  src: url('/fonts/Mukta/Mukta-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Harmony';
  src: url('/fonts/HarmonySans/HarmonyOS_Sans_Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Harmony';
  src: url('/fonts/HarmonySans/HarmonyOS_Sans_Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Harmony';
  src: url('/fonts/HarmonySans/HarmonyOS_Sans_Thin.ttf');
  font-weight: 200;
}
@font-face {
  font-family: 'Harmony';
  src: url('/fonts/HarmonySans/HarmonyOS_Sans_Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Harmony';
  src: url('/fonts/HarmonySans/HarmonyOS_Sans_Bold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Harmony';
  src: url('/fonts/HarmonySans/HarmonyOS_Sans_Black.ttf');
  font-weight: 700;
}
